body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: darkslategrey;
  margin: 0;
}

.password-change-container {
  display: inline-grid;
  grid-column-gap: 16px;
  grid-row-gap: 10%;
  width: 100%;

  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
      "password-change-header-section"
      "password-change-introduction-section"
      "password-change-form-section"
}


.password-change-header-section {
  grid-area: password-change-header-section;

  background-color: #54aabd;
  width: 100%;
  padding: 16px;

  color: #ffffff;

  display: inline-grid;
  grid-column-gap: 16px;
  grid-row-gap: 10%;

  grid-template-columns: 5fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
      "password-change-header-text password-change-logout-button"
}

.password-change-header-text {
  grid-area: password-change-header-text;

  font-weight: bolder;
  font-size: 200%;
  text-align: left;
}

#password-change-logout-button {
  grid-area: password-change-logout-button;

  background-color: #ffffff;
  border: 2px solid #ffffff;

  color: #54aabd;
  font-size: 100%;
  width: 70%;

  padding: 16px;
}


.password-change-introduction-section {
  grid-area: password-change-introduction-section;
}


.password-change-form-section {
  grid-area: password-change-form-section;
}


.password-change-form {
  display: inline-grid;
  grid-column-gap: 16px;
  grid-row-gap: 30%;
  width: 50%;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
      "password-change-old-password-label             password-change-old-password-input"
      "password-change-password-label                 password-change-password-input"
      "password-change-confirmation-password-label    password-change-confirmation-password-input"
      "password-change-submit-input                   password-change-submit-input"

}


.password-change-old-password-label {
  grid-area: password-change-old-password-label;
}

.password-change-old-password-input {
  grid-area: password-change-old-password-input;
}


.password-change-password-label {
  grid-area: password-change-password-label;
}

.password-change-password-input {
  grid-area: password-change-password-input;
}


.password-change-confirmation-password-label {
  grid-area: password-change-confirmation-password-label;
}

.password-change-confirmation-password-input {
  grid-area: password-change-confirmation-password-input;
}


.password-change-submit-input {
  grid-area: password-change-submit-input;

  background-color: #54aabd;
  border: 2px solid #54aabd;

  color: #ffffff;
  font-size: 100%;

  padding: 16px;
}



@media screen and (max-width: 1100px) {

  .password-change-form {
    display: inline-grid;
    grid-row-gap: 5%;
    width: 100%;

    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "password-change-old-password-label"
        "password-change-old-password-input"
        "password-change-password-label"
        "password-change-password-input"
        "password-change-confirmation-password-label"
        "password-change-confirmation-password-input"
        "password-change-submit-input"
  }

  .password-change-header-section {
    grid-area: password-change-header-section;

    background-color: #54aabd;
    width: 100%;
    padding: 16px;

    color: #ffffff;

    display: inline-grid;
    grid-column-gap: 16px;
    grid-row-gap: 10%;

    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "password-change-header-text"
        "password-change-logout-button"
  }
}
