body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: darkslategrey;
  margin: 0;
}

.password-change-container {
  display: inline-grid;
  grid-column-gap: 16px;
  grid-row-gap: 10%;
  width: 100%;

  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
      "quiz-ending-header-section"
      "quiz-ending-stats-container"
      "quiz-ending-stats-details-section"
      "quiz-ending-top-scores-section"
      "quiz-ending-return-button"
}

.quiz-ending-header-section {
  grid-area: quiz-ending-header-section;

  background-color: #54aabd;
  width: 100%;
  padding: 16px;

  color: #ffffff;
  display: inline-grid;
  grid-row-gap: 10%;

  grid-template-columns: 5fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
      "password-change-header-text quiz-ending-logout-button"

}

.password-change-header-text {
  grid-area: password-change-header-text;

  font-weight: bolder;
  font-size: 200%;
  text-align: left;
}

#quiz-ending-logout-button {
  grid-area: quiz-ending-logout-button;

  background-color: #ffffff;
  border: 2px solid #ffffff;

  color: #54aabd;
  font-size: 100%;
  width: 70%;

  padding: 16px;
}


.quiz-ending-stats-section {
  grid-area: quiz-ending-stats-container;
}

.quiz-ending-stats-table {
  width: 60%;
  margin-left: 20%;
  border-bottom: 2px solid #54aabd;
}

.quiz-ending-stats-table-left-element {
  width: 50%;
  text-align: right;
  padding: 16px;
}

.quiz-ending-stats-table-right-element {
  width: 50%;
  text-align: left;
  padding: 16px;
  font-weight: bold;
}


.quiz-ending-stats-details-section {
  grid-area: quiz-ending-stats-details-section;
}

#quiz-ending-stats-details-table {
  width: 100%;
}

.quiz-ending-stats-details-table-element {
  padding: 16px;
}

.quiz-ending-stats-details-table-answer-element-ok {
  width: 20%;
  text-align: center;
  color: #63a149;
  padding: 16px;
}

.quiz-ending-stats-details-table-answer-element-wa {
  width: 20%;
  text-align: center;
  color: #a80014;
  padding: 16px;
}

.quiz-ending-return-button {
  grid-area: quiz-ending-return-button;
}

.quiz-ending-top-scores-section {
  grid-area: quiz-ending-top-scores-section;
}

#quiz-ending-top-scores-table {
 width: 100%;
}

.quiz-ending-top-scores-table-element {
  text-align: center;
  padding: 16px;
}

.quiz-ending-return-button {
  background-color: #54aabd;
  border: 2px solid #54aabd;

  color: #ffffff;
  font-size: 100%;

  padding: 16px;
  width: 50%;
}

@media screen and (max-width: 1100px) {

  .quiz-ending-header-section {
    grid-area: quiz-ending-header-section;

    background-color: #54aabd;
    width: 100%;
    padding: 16px;

    color: #ffffff;
    display: inline-grid;
    grid-row-gap: 10%;

    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "password-change-header-text"
        "quiz-ending-logout-button"

  }

}
