extends layout

block content
    h1= "Historia cen mema"
    table
        each price in meme.getPriceHistory()
            tr
                td= price.getPrice()

    form(method='POST' action='/meme/' + meme.getId())
        label= "Podaj cene"
        input(type='number', placeholder='nowa cena' name='price')
        input(type="hidden", name="_csrf", value=csrfToken)
        input(type='submit' value='potwierdź')
